@import "tailwindcss";

@theme {
  --spacing-47: 11.75rem;
  --spacing-35: 8.75rem;
  --spacing-8.58: 2.145rem;
  --radius-10: 10px;
  --color-magenta-1: #fffdff;
  --color-magenta-3: #fdeffd;
  --color-magenta-12: #c530c5;
  --color-text-secondary: #616161;
}

body {
  font-family: "Plus Jakarta Sans", sans-serif;
}
