@import "tailwindcss";

@theme {
  --font-jakarta: "Plus Jakarta Sans", sans-serif;
  --font-inter: "Inter", sans-serif;

  --spacing-3.485: 0.87125rem;
  --spacing-4.5: 1.125rem;
  --spacing-7.5: 1.875rem;
  --spacing-8.58: 2.145rem;
  --spacing-10.5: 2.626rem;
  --spacing-17.5: 4.375rem;
  --spacing-25.5: 6.375rem;
  --spacing-35: 8.75rem;
  --spacing-36.5: 9.125rem;
  --spacing-39: 9.75rem;
  --spacing-40.5: 10.125rem;
  --spacing-41.5: 10.375rem;
  --spacing-47: 11.75rem;
  --spacing-50: 12.5rem;
  --spacing-68.25: 17.0625rem;
  --spacing-73: 18.25rem;
  --spacing-77.5: 19.375rem;
  --spacing-80.5: 20.125rem;
  --spacing-88: 22rem;
  --spacing-88.5: 22.125rem;
  --spacing-112.25: 28.0625rem;
  --spacing-140: 35rem;

  --text-h1: 1.75rem;

  --radius-8: 8px;
  --radius-10: 10px;
  --radius-12: 12px;

  --color-red-12: #e51c00;
  --color-magenta-1: #fffdff;
  --color-magenta-2: #fff5ff;
  --color-magenta-3: #fdeffd;
  --color-magenta-4: #fee7fe;
  --color-magenta-10: #f68df6;
  --color-magenta-12: #c530c5;
  --color-magenta-13: #9f269f;
  --color-magenta-15: #561056;
  --color-text: #303030;
  --color-text-secondary: #616161;
  --color-text-brand-on-bg-fill: #ffffff;
  --color-text-disabled: #b5b5b5;
  --color-bg-surface-hover: #f7f7f7;
  --color-icon-disabled: #cccccc;
  --color-border: #e3e3e3;
  --color-border-hover: #cccccc;

  --background-image-pattern: url("./icons/FeatureCardBackground.png");

  --animate-fade-in: fade-in 300ms ease-out;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

body {
  font-family: var(--font-jakarta);
}
